@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    background-color: #1e1d2b;
    font-family: 'Poppins', sans-serif;
}
h1{
    align-items:flex-end;
}
h1, h2{
    color:#ff702a;
    font-weight: 500;
}
h3{
    color: #ffffff;
    font-weight: 400;
    font-size: 45px
}
/*encabezado*/
.title{
    padding-left: 5%;
}
.flex-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav {
    display: flex;
    width: 40%;
    justify-content: space-between;
    align-items: center;
}

a{
    padding: 10px;
    text-decoration: none;
    color: #ffffff;
    border-radius: 5px  ;
    transition: all 0.3s ease-in-out;
}
a:hover{
    background-color: #ff702a ;
    border-radius: 5px ;

    color: white ;
    transform: scale(1.1);
    padding: 10px;

}
/*home*/
.home{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 15%;
    padding-top: 50px;
    padding-bottom: 0px;
}
.home-items{
    display: grid;
    grid-template-rows: auto auto auto;
    
}
.titlehome{
    display: flex;
    align-items: end;
    margin: 0px;
}
.subtitlehome{
    display: flex;
    align-items: center;
    margin: 0px;
  
}
.imghome{
    display:flex;
    align-items: center;
    justify-content: center;
}
button{
    border: none;
    background-color: #ff702a ;
    border-radius: 5px ;
    width: 400px;
    height:45px;
    color: white ;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}
button:hover{
    background-color: #ff7f3f ;
    border-radius: 5px ;
    transform: scale(1.15);
}
/*about*/
.about-items{
    display: grid;
    grid-template-rows: auto auto auto auto;
    gap: 10px; 
}
.menu{
    
    display: grid;
    grid-template-rows: auto 2fr;
    justify-content:center;
    padding-top: 200px;
}
.titlemenu{
    display: flex;
    margin: 0;
    justify-content: center;
}
/*menu*/
.container{
    min-height:300px;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    gap: 50px;
    justify-content: center;
}
.item{
    background-color: #ffefe8;
    border: double black;
    display: flex;
    grid-template-rows: auto auto auto;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap-reverse;

}
.img2{
    background-color: #ffefe8;
    margin: auto;
}
.comida{
    display: flex;
    justify-content: center;
    font-size: 25px;
    background-color: #ffefe8;
    color: black;
    margin:0
}
.emoji{
    background-color: #ffefe8;
    width: 45px;


}
/*service*/
.containerservice{
    min-height:300px;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    gap: 80px;
    justify-content: center;
}
.itemservice{
    display: flex;
    grid-template-rows: auto auto auto;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap-reverse;

}
.img3{
    margin: auto;
}
.service{
    display: flex;
    text-align: center ;
    justify-content: center;
    font-size: 25px;
    color: white;
    margin: 0
}
.service{
    display: flex;
    text-align: center ;
    justify-content: center;
    font-size: 30px;
    color: white;
    margin: 20px
}

/*square*/
.quality{
    display:grid;
    grid-template-columns: 100rem;
    justify-content: center;
}
.square{
    display: flex;
    background-color: #ffefe8;
    border: double black;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap-reverse;


}
.txtsquare{
    color: black;
    font-size: 80px;
    background-color: #ffefe8;
    margin-left: 15%;
    margin-right: 15%;
}
.buttonsquare{
    text-align: center;
    border-radius: 0;
    margin-bottom: 50px;
}
/*contact*/
.containercontact{
    display:grid;
    grid-template-columns: 100rem;
    justify-content: center;
    padding-top: 200px;
}
.contact{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.txtcontact{
    display: flex;
    flex-direction: column;
}
hr{
    width: 80%;
    border: 1px solid #ff7f3f 
}